src/OE/OE.DataAccess/OE.Msg/OE.Wcf.ClientTestPipe/Service References/ServiceRichiesta/1.12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.progel.it/BT/OE/DataAccess/RichiestaReturn/1.1" elementFormDefault="qualified" targetNamespace="http://schemas.progel.it/BT/OE/DataAccess/RichiestaReturn/1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.progel.it/BT/OE/QueueTypes/1.1" />
  <xs:complexType name="RichiestaReturn">
    <xs:sequence>
      <xs:element name="RichiesteQueue" nillable="true" type="tns:RichiesteQueueType">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RichiestaReturn" nillable="true" type="tns:RichiestaReturn" />
  <xs:complexType name="RichiesteQueueType">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.progel.it/BT/OE/QueueTypes/1.1" minOccurs="0" maxOccurs="unbounded" name="RichiestaQueue" nillable="true" type="q1:RichiestaQueueType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RichiesteQueueType" nillable="true" type="tns:RichiesteQueueType" />
</xs:schema>