src/DWC/DataAccess/dae-wcf-note-anamnestiche/Tester/Service References/Dwh.DataAccess.NoteAnamnestiche.Wcf.Service/1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.progel.it/BT/DWH/DataAccess/Prescrizioni/1.0" elementFormDefault="qualified" targetNamespace="http://schemas.progel.it/BT/DWH/DataAccess/Prescrizioni/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.progel.it/BT/DWH/DataAccess/NoteAnamnestiche/1.0" />
  <xs:element name="Aggiungi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.progel.it/BT/DWH/DataAccess/NoteAnamnestiche/1.0" minOccurs="0" name="NotaAnamnestica" nillable="true" type="q1:NotaAnamnesticaParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AggiungiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.progel.it/BT/DWH/DataAccess/NoteAnamnestiche/1.0" minOccurs="0" name="AggiungiResult" nillable="true" type="q2:NotaAnamnesticaReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>