src/SAC/SAC.RaccoltaEsenzioni/SAC.RaccoltaEsenzioni/Connected Services/WcfSacRoleManager/SAC3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.progel.it/WCF/SAC/Types/3.0" elementFormDefault="qualified" targetNamespace="http://schemas.progel.it/WCF/SAC/Types/3.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ErroreType">
    <xs:sequence>
      <xs:element name="Codice" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Descrizione" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErroreType" nillable="true" type="tns:ErroreType" />
  <xs:complexType name="CodiceDescrizioneType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codice" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Descrizione" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CodiceDescrizioneType" nillable="true" type="tns:CodiceDescrizioneType" />
</xs:schema>