src/OE/OE.DataAccess/OE.Msg/OE.Wcf.ClientTestPipe/Service References/ServiceOrdine/1.1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.progel.it/BT/OE/DataAccess/OrdineReturn/1.1" elementFormDefault="qualified" targetNamespace="http://schemas.progel.it/BT/OE/DataAccess/OrdineReturn/1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.progel.it/BT/OE/QueueTypes/1.1" />
  <xs:complexType name="OrdineReturn">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.progel.it/BT/OE/QueueTypes/1.1" minOccurs="0" name="Richiesta" nillable="true" type="q1:TestataRichiestaType">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Stati" nillable="true" type="tns:StatiType">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q2="http://schemas.progel.it/BT/OE/QueueTypes/1.1" name="Esito" nillable="true" type="q2:CodiceDescrizioneType">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdineReturn" nillable="true" type="tns:OrdineReturn" />
  <xs:complexType name="StatiType">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.progel.it/BT/OE/QueueTypes/1.1" minOccurs="0" maxOccurs="unbounded" name="Stato" nillable="true" type="q3:TestataStatoType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatiType" nillable="true" type="tns:StatiType" />
</xs:schema>