src/OE/OE.DataAccess/OE.Msg/OE.Wcf.ClientTestPipe/Service References/ServiceOrdine/Ordine.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.progel.it/OE/WCF/DataAccess/Ordine" elementFormDefault="qualified" targetNamespace="http://schemas.progel.it/OE/WCF/DataAccess/Ordine" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.progel.it/BT/OE/DataAccess/OrdineReturn/1.1" />
  <xs:element name="OrdinePerIdOrderEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRichiestaOrderEntry" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrdinePerIdOrderEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.progel.it/BT/OE/DataAccess/OrdineReturn/1.1" minOccurs="0" name="OrdinePerIdOrderEntryResult" nillable="true" type="q1:OrdineReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>