src/SAC/SAC.BT.Schemi/Queue/SAC.BT.Consenso.Schema.Queue.Input.MessaggioInput.xsd

<!-- edited with XMLSpy v2018 rel. 2 (x64) (http://www.altova.com) by Alessandro Nostini (Progel srl) -->
<xs:schema xmlns="http://SAC.BT.Consenso.Schema.Queue.Input/v1.0.0.0" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" xmlns:ns1="http://schemas.progel.it/BT/DI/Message-properties/1.0" xmlns:ns0="http://SAC.BT.Consenso.Schema.Queue.PropertyInput/v1.0.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://SAC.BT.Consenso.Schema.Queue.Input/v1.0.0.0">
	<xs:annotation>
		<xs:appinfo>
			<b:imports>
				<b:namespace prefix="ns0" uri="http://SAC.BT.Consenso.Schema.Queue.PropertyInput/v1.0.0.0" location="SAC.BT.Consenso.Schema.Queue.PropertyInput.MessaggioInputPropSchema"/>
				<b:namespace prefix="ns1" uri="http://schemas.progel.it/BT/DI/Message-properties/1.0" location="Progel.BT.DI.GlobalPropertySchemas.Message.MessageProperties"/>
			</b:imports>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="MessaggioInput" nillable="true">
		<xs:annotation>
			<xs:appinfo>
				<b:properties>
					<b:property distinguished="true" xpath="/*[local-name()='MessaggioInput' and namespace-uri()='http://SAC.BT.Consenso.Schema.Queue.Input/v1.0.0.0']/*[local-name()='AckCorrelationID' and namespace-uri()='']"/>
					<b:property distinguished="true" xpath="/*[local-name()='MessaggioInput' and namespace-uri()='http://SAC.BT.Consenso.Schema.Queue.Input/v1.0.0.0']/*[local-name()='Operazione' and namespace-uri()='']"/>
					<b:property distinguished="true" xpath="/*[local-name()='MessaggioInput' and namespace-uri()='http://SAC.BT.Consenso.Schema.Queue.Input/v1.0.0.0']/*[local-name()='Utente' and namespace-uri()='']"/>
					<b:property name="ns0:AckCorrelationID" xpath="/*[local-name()='MessaggioInput' and namespace-uri()='http://SAC.BT.Consenso.Schema.Queue.Input/v1.0.0.0']/*[local-name()='AckCorrelationID' and namespace-uri()='']"/>
					<b:property name="ns0:Operazione" xpath="/*[local-name()='MessaggioInput' and namespace-uri()='http://SAC.BT.Consenso.Schema.Queue.Input/v1.0.0.0']/*[local-name()='Operazione' and namespace-uri()='']"/>
					<b:property name="ns0:Utente" xpath="/*[local-name()='MessaggioInput' and namespace-uri()='http://SAC.BT.Consenso.Schema.Queue.Input/v1.0.0.0']/*[local-name()='Utente' and namespace-uri()='']"/>
					<b:property name="ns1:Track_IdEsterno" xpath="/*[local-name()='MessaggioInput' and namespace-uri()='http://SAC.BT.Consenso.Schema.Queue.Input/v1.0.0.0']/*[local-name()='Consenso' and namespace-uri()='']/*[local-name()='PazienteProvenienzaId' and namespace-uri()='']"/>
					<b:property name="ns1:Track_Nome" xpath="/*[local-name()='MessaggioInput' and namespace-uri()='http://SAC.BT.Consenso.Schema.Queue.Input/v1.0.0.0']/*[local-name()='Consenso' and namespace-uri()='']/*[local-name()='PazienteNome' and namespace-uri()='']"/>
					<b:property name="ns1:Track_Cognome" xpath="/*[local-name()='MessaggioInput' and namespace-uri()='http://SAC.BT.Consenso.Schema.Queue.Input/v1.0.0.0']/*[local-name()='Consenso' and namespace-uri()='']/*[local-name()='PazienteCognome' and namespace-uri()='']"/>
					<b:property name="ns1:Track_CodiceFiscale" xpath="/*[local-name()='MessaggioInput' and namespace-uri()='http://SAC.BT.Consenso.Schema.Queue.Input/v1.0.0.0']/*[local-name()='Consenso' and namespace-uri()='']/*[local-name()='PazienteCodiceFiscale' and namespace-uri()='']"/>
				</b:properties>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AckCorrelationID" type="xs:string" minOccurs="1" maxOccurs="1"/>
				<xs:element name="Operazione" type="xs:unsignedByte" minOccurs="1" maxOccurs="1"/>
				<xs:element name="DataSequenza" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
				<xs:element name="Utente" type="xs:string" minOccurs="1" maxOccurs="1"/>
				<xs:element name="Consenso" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Id" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="Tipo" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="Stato" type="xs:boolean" nillable="true" minOccurs="1" maxOccurs="1"/>
							<xs:element name="DataStato" type="xs:dateTime" nillable="true" minOccurs="1" maxOccurs="1"/>
							<xs:element name="OperatoreId" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="OperatoreNome" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="OperatoreCognome" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="OperatoreComputer" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="PazienteProvenienza" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="PazienteProvenienzaId" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="PazienteNome" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="PazienteCognome" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="PazienteCodiceFiscale" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="PazienteDataNascita" type="xs:dateTime" nillable="true" minOccurs="1" maxOccurs="1"/>
							<xs:element name="PazienteComuneNascitaCodice" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="PazienteNazionalitaCodice" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="PazienteTesseraSanitaria" type="xs:string" minOccurs="0" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
