src/OE/OE.DataAccess/OE.Msg/OE.Msg.DataAccess/Service References/SAC.Transcodifiche/SAC1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.progel.it/WCF/SAC/TranscodificaTypes/3.0" elementFormDefault="qualified" targetNamespace="http://schemas.progel.it/WCF/SAC/TranscodificaTypes/3.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SistemaType">
    <xs:sequence>
      <xs:element name="Azienda" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Codice" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SistemaType" nillable="true" type="tns:SistemaType" />
  <xs:complexType name="UnitaOperativaType">
    <xs:sequence>
      <xs:element name="Azienda" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Codice" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Descrizione" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnitaOperativaType" nillable="true" type="tns:UnitaOperativaType" />
  <xs:complexType name="UnitaOperativeType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UnitaOperativa" nillable="true" type="tns:UnitaOperativaType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnitaOperativeType" nillable="true" type="tns:UnitaOperativeType" />
</xs:schema>