src/OE/OE.DataAccess/OE.Msg/OE.Msg.DataAccess/Service References/SAC.Transcodifiche/Transcodifiche.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schemas.progel.it/WCF/SAC/Service/3.0" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Transcodifiche" targetNamespace="http://schemas.progel.it/WCF/SAC/Service/3.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ITranscodifiche_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.progel.it/WCF/SAC/Service/3.0/Imports">
      <xsd:import schemaLocation="http://dagobah2.progel.org:8082/WS-DI-SAC-3/SAC.Wcf.Service.Transcodifiche.svc?xsd=xsd0" namespace="http://schemas.progel.it/WCF/SAC/Service/3.0" />
      <xsd:import schemaLocation="http://dagobah2.progel.org:8082/WS-DI-SAC-3/SAC.Wcf.Service.Transcodifiche.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dagobah2.progel.org:8082/WS-DI-SAC-3/SAC.Wcf.Service.Transcodifiche.svc?xsd=xsd2" namespace="http://schemas.progel.it/WCF/SAC/TranscodificaTypes/3.0" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITranscodifiche_TranscodificaUnitaOperativaDaSistemaACentrale_InputMessage">
    <wsdl:part name="parameters" element="tns:TranscodificaUnitaOperativaDaSistemaACentrale" />
  </wsdl:message>
  <wsdl:message name="ITranscodifiche_TranscodificaUnitaOperativaDaSistemaACentrale_OutputMessage">
    <wsdl:part name="parameters" element="tns:TranscodificaUnitaOperativaDaSistemaACentraleResponse" />
  </wsdl:message>
  <wsdl:message name="ITranscodifiche_TranscodificaUnitaOperativaDaCentraleASistema_InputMessage">
    <wsdl:part name="parameters" element="tns:TranscodificaUnitaOperativaDaCentraleASistema" />
  </wsdl:message>
  <wsdl:message name="ITranscodifiche_TranscodificaUnitaOperativaDaCentraleASistema_OutputMessage">
    <wsdl:part name="parameters" element="tns:TranscodificaUnitaOperativaDaCentraleASistemaResponse" />
  </wsdl:message>
  <wsdl:message name="ITranscodifiche_TranscodificaUnitaOperativeDaSistemaACentrale_InputMessage">
    <wsdl:part name="parameters" element="tns:TranscodificaUnitaOperativeDaSistemaACentrale" />
  </wsdl:message>
  <wsdl:message name="ITranscodifiche_TranscodificaUnitaOperativeDaSistemaACentrale_OutputMessage">
    <wsdl:part name="parameters" element="tns:TranscodificaUnitaOperativeDaSistemaACentraleResponse" />
  </wsdl:message>
  <wsdl:message name="ITranscodifiche_TranscodificaUnitaOperativeDaCentraleASistema_InputMessage">
    <wsdl:part name="parameters" element="tns:TranscodificaUnitaOperativeDaCentraleASistema" />
  </wsdl:message>
  <wsdl:message name="ITranscodifiche_TranscodificaUnitaOperativeDaCentraleASistema_OutputMessage">
    <wsdl:part name="parameters" element="tns:TranscodificaUnitaOperativeDaCentraleASistemaResponse" />
  </wsdl:message>
  <wsdl:portType name="ITranscodifiche">
    <wsdl:operation name="TranscodificaUnitaOperativaDaSistemaACentrale">
      <wsdl:input wsaw:Action="http://schemas.progel.it/WCF/SAC/Service/3.0/ITranscodifiche/TranscodificaUnitaOperativaDaSistemaACentrale" message="tns:ITranscodifiche_TranscodificaUnitaOperativaDaSistemaACentrale_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.progel.it/WCF/SAC/Service/3.0/ITranscodifiche/TranscodificaUnitaOperativaDaSistemaACentraleResponse" message="tns:ITranscodifiche_TranscodificaUnitaOperativaDaSistemaACentrale_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TranscodificaUnitaOperativaDaCentraleASistema">
      <wsdl:input wsaw:Action="http://schemas.progel.it/WCF/SAC/Service/3.0/ITranscodifiche/TranscodificaUnitaOperativaDaCentraleASistema" message="tns:ITranscodifiche_TranscodificaUnitaOperativaDaCentraleASistema_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.progel.it/WCF/SAC/Service/3.0/ITranscodifiche/TranscodificaUnitaOperativaDaCentraleASistemaResponse" message="tns:ITranscodifiche_TranscodificaUnitaOperativaDaCentraleASistema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TranscodificaUnitaOperativeDaSistemaACentrale">
      <wsdl:input wsaw:Action="http://schemas.progel.it/WCF/SAC/Service/3.0/ITranscodifiche/TranscodificaUnitaOperativeDaSistemaACentrale" message="tns:ITranscodifiche_TranscodificaUnitaOperativeDaSistemaACentrale_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.progel.it/WCF/SAC/Service/3.0/ITranscodifiche/TranscodificaUnitaOperativeDaSistemaACentraleResponse" message="tns:ITranscodifiche_TranscodificaUnitaOperativeDaSistemaACentrale_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TranscodificaUnitaOperativeDaCentraleASistema">
      <wsdl:input wsaw:Action="http://schemas.progel.it/WCF/SAC/Service/3.0/ITranscodifiche/TranscodificaUnitaOperativeDaCentraleASistema" message="tns:ITranscodifiche_TranscodificaUnitaOperativeDaCentraleASistema_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.progel.it/WCF/SAC/Service/3.0/ITranscodifiche/TranscodificaUnitaOperativeDaCentraleASistemaResponse" message="tns:ITranscodifiche_TranscodificaUnitaOperativeDaCentraleASistema_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITranscodifiche" type="tns:ITranscodifiche">
    <wsp:PolicyReference URI="#BasicHttpBinding_ITranscodifiche_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TranscodificaUnitaOperativaDaSistemaACentrale">
      <soap:operation soapAction="http://schemas.progel.it/WCF/SAC/Service/3.0/ITranscodifiche/TranscodificaUnitaOperativaDaSistemaACentrale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranscodificaUnitaOperativaDaCentraleASistema">
      <soap:operation soapAction="http://schemas.progel.it/WCF/SAC/Service/3.0/ITranscodifiche/TranscodificaUnitaOperativaDaCentraleASistema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranscodificaUnitaOperativeDaSistemaACentrale">
      <soap:operation soapAction="http://schemas.progel.it/WCF/SAC/Service/3.0/ITranscodifiche/TranscodificaUnitaOperativeDaSistemaACentrale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranscodificaUnitaOperativeDaCentraleASistema">
      <soap:operation soapAction="http://schemas.progel.it/WCF/SAC/Service/3.0/ITranscodifiche/TranscodificaUnitaOperativeDaCentraleASistema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Transcodifiche">
    <wsdl:port name="BasicHttpBinding_ITranscodifiche" binding="tns:BasicHttpBinding_ITranscodifiche">
      <soap:address location="http://dagobah2.progel.org:8082/WS-DI-SAC-3/SAC.Wcf.Service.Transcodifiche.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>