src/OE/Oe.Eroganti.Generico/SendRichesta/Service References/ServiceReference/1.01.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.progel.it/WCF/OE/RichiestaEroganteGenerico/1.0" elementFormDefault="qualified" targetNamespace="http://schemas.progel.it/WCF/OE/RichiestaEroganteGenerico/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.progel.it/WCF/OE/EroganteGenericoTypes/1.1" />
  <xs:element name="ListenData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.progel.it/WCF/OE/EroganteGenericoTypes/1.1" minOccurs="0" name="value" nillable="true" type="q1:RichiestaType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListenDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>