src/OE/Oe.Eroganti.Generico/SendRichesta/Service References/ServiceReference/Oe3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:q2="http://schemas.progel.it/WCF/OE/RichiestaCms/1.1" xmlns:tns="http://schemas.progel.it/WCF/OE/RichiestaCms/1.0" xmlns:q1="http://schemas.progel.it/WCF/OE/RichiestaCms/1.1" elementFormDefault="qualified" targetNamespace="http://schemas.progel.it/WCF/OE/RichiestaCms/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="Oe.Cms.ListenRichieste2.xsd" namespace="http://schemas.progel.it/WCF/OE/RichiestaCms/1.1" />
  <xs:element name="ListenData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="q1:RichiestaCmsType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListenDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListenDataResult" nillable="true" type="q1:RichiestaCmsReturnType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>