src/OE/OE.DataAccess/OE.Msg/OE.Wcf.ClientTestPipe/Service References/ServiceStato/Stato.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.progel.it/OE/WCF/DataAccess/Stato" elementFormDefault="qualified" targetNamespace="http://schemas.progel.it/OE/WCF/DataAccess/Stato" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.progel.it/BT/OE/DataAccess/StatoParameter/1.1" />
  <xs:import namespace="http://schemas.progel.it/BT/OE/DataAccess/StatoReturn/1.1" />
  <xs:element name="ProcessaMessaggio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.progel.it/BT/OE/DataAccess/StatoParameter/1.1" minOccurs="0" name="value" nillable="true" type="q1:StatoParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessaMessaggioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.progel.it/BT/OE/DataAccess/StatoReturn/1.1" minOccurs="0" name="ProcessaMessaggioResult" nillable="true" type="q2:StatoReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>