src/OE/Oe.DatiAccessoriDinamici/DatiAccessoriDinamici.Test/Connected Services/ServiceReference/1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.progel.it/WCF/OE/DatiAccessoriDinamici/1.0" elementFormDefault="qualified" targetNamespace="http://schemas.progel.it/WCF/OE/DatiAccessoriDinamici/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.progel.it/WCF/OE/DatiAccessoriDinamiciTypes/1.1" />
  <xs:element name="Ottiene">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.progel.it/WCF/OE/DatiAccessoriDinamiciTypes/1.1" minOccurs="0" name="contesto" nillable="true" type="q1:OttieneParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OttieneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.progel.it/WCF/OE/DatiAccessoriDinamiciTypes/1.1" minOccurs="0" name="OttieneResult" nillable="true" type="q2:OttieneReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>