src/SAC/Sac.Msg/Sac.Msg.Test/Connected Services/SacWcfServiceReference/v1.0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://SAC.BT.Paziente.Schema.DataAccess/v1.0" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Pazienti" targetNamespace="http://SAC.BT.Paziente.Schema.DataAccess/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IPazienti_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://SAC.BT.Paziente.Schema.DataAccess/v1.0/Imports">
      <xsd:import namespace="http://SAC.BT.Paziente.Schema.DataAccess/v1.0" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPazienti_ProcessaMessaggio_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessaMessaggio" />
  </wsdl:message>
  <wsdl:message name="IPazienti_ProcessaMessaggio_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessaMessaggioResponse" />
  </wsdl:message>
  <wsdl:message name="IPazienti_ListaPazientiByGeneralita_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaPazientiByGeneralita" />
  </wsdl:message>
  <wsdl:message name="IPazienti_ListaPazientiByGeneralita_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaPazientiByGeneralitaResponse" />
  </wsdl:message>
  <wsdl:message name="IPazienti_DettaglioPaziente_InputMessage">
    <wsdl:part name="parameters" element="tns:DettaglioPaziente" />
  </wsdl:message>
  <wsdl:message name="IPazienti_DettaglioPaziente_OutputMessage">
    <wsdl:part name="parameters" element="tns:DettaglioPazienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IPazienti">
    <wsdl:operation name="ProcessaMessaggio">
      <wsdl:input wsaw:Action="http://SAC.BT.Paziente.Schema.DataAccess/v1.0/IPazienti/ProcessaMessaggio" message="tns:IPazienti_ProcessaMessaggio_InputMessage" />
      <wsdl:output wsaw:Action="http://SAC.BT.Paziente.Schema.DataAccess/v1.0/IPazienti/ProcessaMessaggioResponse" message="tns:IPazienti_ProcessaMessaggio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaPazientiByGeneralita">
      <wsdl:input wsaw:Action="http://SAC.BT.Paziente.Schema.DataAccess/v1.0/IPazienti/ListaPazientiByGeneralita" message="tns:IPazienti_ListaPazientiByGeneralita_InputMessage" />
      <wsdl:output wsaw:Action="http://SAC.BT.Paziente.Schema.DataAccess/v1.0/IPazienti/ListaPazientiByGeneralitaResponse" message="tns:IPazienti_ListaPazientiByGeneralita_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DettaglioPaziente">
      <wsdl:input wsaw:Action="http://SAC.BT.Paziente.Schema.DataAccess/v1.0/IPazienti/DettaglioPaziente" message="tns:IPazienti_DettaglioPaziente_InputMessage" />
      <wsdl:output wsaw:Action="http://SAC.BT.Paziente.Schema.DataAccess/v1.0/IPazienti/DettaglioPazienteResponse" message="tns:IPazienti_DettaglioPaziente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPazienti" type="tns:IPazienti">
    <wsp:PolicyReference URI="#BasicHttpBinding_IPazienti_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessaMessaggio">
      <soap:operation soapAction="http://SAC.BT.Paziente.Schema.DataAccess/v1.0/IPazienti/ProcessaMessaggio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaPazientiByGeneralita">
      <soap:operation soapAction="http://SAC.BT.Paziente.Schema.DataAccess/v1.0/IPazienti/ListaPazientiByGeneralita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DettaglioPaziente">
      <soap:operation soapAction="http://SAC.BT.Paziente.Schema.DataAccess/v1.0/IPazienti/DettaglioPaziente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Pazienti">
    <wsdl:port name="BasicHttpBinding_IPazienti" binding="tns:BasicHttpBinding_IPazienti">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Sac.Msg.Wcf/Pazienti/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>